
@font-face{
  font-family:'PixelMPlus_family';
  src: url('../font/PixelMPlus_family/PixelMplus12-Regular.ttf') format('truetype');
}

.unique-font {
  font-family: 'PixelMPlus_family';
}

.padding-top {
  padding-top: 20px;
}

.padding-left {
  padding-left: 20px;
}

.form-height {
  height: 2048px;
}

