@font-face {
  font-family: 'Press_Start_2P'; // <-好きな名前をつけれます。
  src: url('../font/Press_Start_2P.otf/PressStart2P.ttf') format('truetype');
}

@font-face{
  font-family:'PixelMPlus_family';
  src: url('../font/PixelMPlus_family/PixelMplus12-Regular.ttf') format('truetype');
}

.unique-font {
  font-family: 'PixelMPlus_family';
}

.padding-top {
  padding-top: 20px;
}

.padding-left {
  padding-left: 20px;
}

.form-height {
  height: 2048px;
}
